extends _layouts/base

block content
    section.section.photoapp
        .photoapp__message tap to snap a photo

        .photoapp__loader.-hide
            .percent 0%

            svg.circular(viewbox='25 25 50 50')
                circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='4', stroke-miterlimit='10')

        .photoapp__polaroid.-hide
            img

        button.photoapp__btn.-btn.-camera.js-take-photo(type="button")
            svg(viewbox='0 0 24 24')
                path(d='M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z')

        .photoapp__viewer
            img.photoapp__img

        .photoapp__controls.-disabled
            button.photoapp__btn.-btn.-delete.js-delete-photo(type="button")
                svg(viewbox='0 0 24 24')
                    path(d='M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z')

            button.photoapp__btn.-btn.-rotate.js-rotate-photo(type="button")
                svg(viewbox='0 0 24 24')
                    path(d='M7.47,21.5C4.2,19.93 1.86,16.76 1.5,13H0C0.5,19.16 5.66,24 11.95,24C12.18,24 12.39,24 12.61,23.97L8.8,20.15L7.47,21.5M12.05,0C11.82,0 11.61,0 11.39,0.04L15.2,3.85L16.53,2.5C19.8,4.07 22.14,7.24 22.5,11H24C23.5,4.84 18.34,0 12.05,0M16,14H18V8C18,6.89 17.1,6 16,6H10V8H16V14M8,16V4H6V6H4V8H6V16A2,2 0 0,0 8,18H16V20H18V18H20V16H8Z')

            button.photoapp__btn.-btn.-done.js-crop-photo(type="button")
                svg(viewbox='0 0 24 24')
                    path(d='M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z')

            input.photoapp__hidden.js-open-photo(type='file', name='file', accept='image/*', capture='')

